[Unit]
Description=Prometheus Scraper

[Service]
# User=<user>
# Environment="PYTHONPATH=$PYTHONPATH:..."
ExecStart=/opt/prom_scraper/prom_scraper.sh
Restart=always

[Install]
WantedBy=multi-user.target
